<h1 align="center">Articles pages</h1>
<div align="center">
  <%= will_paginate %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Title </th>
      <th scope="col"> Description </th>
      <th scope="col"> Created By </th>
      <th scope="col"> Created At </th>
    </tr>
  </thead>
  <% @articles.each do |article|%>
    <tbody>
      <tr>
        <td class="article-text"><%= link_to article.title, article_path(article.id) %></td>
        <td class="article-text"><%= truncate(article.description, length: 25) %></td>
        <td class="article-text"><%= link_to article.user.username, user_path(article.user) if article.user %></td>
        <td class="article-text"><%= time_ago_in_words(article.created_at)%></td>
        <% if logged_in? && current_user == article.user %>
          <td><button type="button" class="btn btn-primary"><%= link_to 'edit', edit_article_path(article)%></button></td>
          <td><button type="button" class="btn btn-primary"><%= link_to 'delete', article_path(article), method: :delete, data: {confirm: 'Are you sure? '} %></button></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>
<p class="article-text">
  Or create a new article
  <% @article = Article.new %>
  <button type="button" class="btn btn-primary"><%= link_to 'new', new_article_path %></button>
</p>
<div align="center">
  <%= will_paginate %>
</div>
